<header class="container">
  <nav>
    <ul>
      <li><strong>Wallap</strong></li>
    </ul>
    <ul class="secondary">
      <li><a href="/" role="button" class="primary">Home</a></li>
      <li><a routerLink="/feature-products" role="button" class="secondary">Featured Products</a></li>
      <li><a routerLink="/products" role="button" class="secondary">Products</a></li>
    </ul>
  </nav>
  <h1 class="mt-2">Online store</h1>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci corporis enim facilis id in
    ipsum minima molestiae mollitia natus neque numquam optio placeat possimus quisquam quo, ullam vel, voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa explicabo minus optio provident quis sint! Aliquid
    aut eius eos, libero nostrum quia temporibus voluptatem. Aut et incidunt minima reiciendis saepe?
  </span></p>

  <p>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut dolore eius, esse expedita id illum in maiores
      nisi officiis, omnis placeat quia saepe temporibus vero! Asperiores distinctio excepturi quod!
    </span>
  </p>
</header>
<router-outlet></router-outlet>
